@import "./variables";

.custom-tooptip {
  background: $grey !important;
  border-radius: 50px !important;
  padding: 5px 10px !important;
  font-size: 10px !important;
  line-height: 13px !important;
  text-align: center !important;
  opacity: 1 !important;
}

.large-tip {
  width: 260px !important;
}
