@import "./variables";
@import "./font.scss";
@import "./side-bar.scss";
@import "./chart.scss";
@import "./custom-components.scss";

/* common styles here */

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../img/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
