@import "../../assets/style/variables";

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 90px 20px 70px;
    img {
      width: 380px;
      max-width: 100%;
      @media (min-width: 2000px) {
        width: 500px;
      }
    }
    .current-peak {
      margin: 0 auto;
      max-width: 400px;
      @media (min-width: 2000px) {
        max-width: 550px;
        height: 85px;
      }
      p {
        color: $purple;
        position: relative;
      }
      .left-text {
        text-align: right;
        display: flex;
        p {
          margin: auto 0 10px auto;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 30px;
          letter-spacing: 0.27em;
          @media (min-width: 2000px) {
            font-size: 45px;
            line-height: 45px;
          }
        }
      }
      .right-text {
        text-align: left;
        p {
          font-family: "Futura Std Medium";
          font-style: normal;
          font-weight: normal;
        }
        .current {
          font-size: 60px;
          line-height: 72px;
          @media (min-width: 2000px) {
            font-size: 70px;
            line-height: 80px;
          }
        }
        .peak {
          font-size: 48px;
          line-height: 58px;
          @media (min-width: 2000px) {
            font-size: 55px;
            line-height: 65px;
          }
        }
      }
    }
    .liner {
      width: 100%;
      height: 1px;
      background: $grey;
      max-width: 350px;
      @media (min-width: 2000px) {
        max-width: 500px;
      }
    }
  }
}
